body {
    margin: 1em;
    border: solid 2px;
    padding: 1em 2em;
}

p {
    margin-bottom: 4em;
    font-family: Titillium Web, sans-serif;
    font-weight: bold;
    font-size: larger;
    text-align: justify;
    overflow: auto;
}

img {

    width: 40em;
    height: 22.5em;
}

.direita {
    
    float: right;
    margin-left: 2em;
}

.esquerda {

    float: left;
    margin-right: 2em;
}